<!-- translate language -->
<div class="translate text-center mt-4">
  <button (click)="switchLanguage()" type="button" class="btn btn-primary mb-4">
    {{'translate_language.change' | translate}}
  </button>
  <div>
    {{'translate_language.title' | translate}}
    <br>
    {{'translate_language.text' | translate}}
  </div>
</div>
<hr>
<!-- validator -->
<div class="validator text-center mt-4">
  <form [formGroup]="appForm">
    <div class="field">
      <label class="mr-2">{{'fields.email' | translate}}</label>
      <input type="email" formControlName="email" />
      <app-validator label="{{'fields.email' | translate}}" [control]="appForm.get('email')"></app-validator>
    </div>
    <div class="field">
      <label class="mr-2">{{'fields.first_name' | translate}}</label>
      <input type="text" formControlName="firstName" />
      <app-validator label="{{'fields.first_name' | translate}}" [control]="appForm.get('firstName')"></app-validator>
    </div>
    <div class="field">
      <label class="mr-2">{{'fields.last_name' | translate}}</label>
      <input type="text" formControlName="lastName" />
      <app-validator label="{{'fields.last_name' | translate}}" [control]="appForm.get('lastName')"></app-validator>
    </div>
    <div class="field">
      <label class="mr-2">{{'fields.age' | translate}}</label>
      <input type="number" formControlName="age" />
      <app-validator label="{{'fields.age' | translate}}" [control]="appForm.get('age')"></app-validator>
    </div>
    <button type="submit" mat-raised-button color="primary">{{'buttons.submit' | translate}}</button>
  </form>
</div>
<hr>
<!-- Directive -->
<!-- truncate 3 lines: lineClamp [line]="3" -->
<div class="directive text-center">
  <h1 lineClamp [line]="3" style="width: 150px;" class="m-auto">sssdasdas das dasd asd asd asd asasdasdas asd asd asd as</h1>
</div>
<hr>
<!-- truncating -->
<div class="truncating text-center">
  <button (click)="demoSpinner()" mat-raised-button color="primary">demo spinner</button>
  <div *ngIf="isLoading" class="spinner-wrapper">
    <app-spinner></app-spinner>
  </div>
</div>
<hr>
<router-outlet></router-outlet>
